
    <app-header></app-header>
    <div class="btn-container">
        <a download href="assets/Ganesh_Angular_Resume.pdf" style="text-decoration: none;">
    <button class="btn-resume" >
        <mat-icon class="download">download</mat-icon> <span>Resume</span>
      </button>
        </a>
    <button class="theme-toggle" (click)="toggleTheme()">
        <mat-icon>{{ isDarkMode ? 'dark_mode' : 'light_mode' }}</mat-icon>
      </button>
    </div>
      
<div class="mt-2">
<router-outlet></router-outlet>

<!-- <footer>
  <div class="foot-cont">
  <p>Email: ganeshrapeti123&#64;gmail.com</p>
  <p>8328084974</p>
  </div>
</footer> -->


<footer class="footer">
  <div class="container text-center foot">
    <p>Email: <a href="mailto:yourmail@example.com">yourmail&#64;example.com</a></p>
    <p>Phone: <a href="tel:+1234567890">+1234567890</a></p>
    <div class="social-links">
      <a matTooltip="View Linkedin" href="https://linkedin.com/in/ganesh-rapeti" class="me-3" target="_blank"><i class="bi bi-linkedin"></i></a>
      <!-- <a href="https://www.naukri.com/mnjuser/profile?id=&altresid" target="_blank" class="me-3">
        <i class="bi bi-briefcase-fill"></i>
      </a> -->
      <!-- <a href="https://facebook.com" target="_blank" class="me-3"><i class="bi bi-facebook"></i></a> -->
      <a href="https://www.instagram.com/ganeshrapeti0208/" target="_blank" class="me-3" matTooltip="Instagram">
        <i class="bi bi-instagram"></i>
      </a>
      <a href="https://twitter.com/rapeti_ganesh0208" target="_blank" matTooltip="X (Twitter)"><i class="bi bi-twitter-x"></i></a>
    </div>
  </div>
</footer>